# Soru 1;

In [1]:
import pandas as pd

# Veri dosyasını oku
df = pd.read_csv('ramen-ratings.csv')

# Veri setinin başını göster
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [2]:
# Gerekli sütunları seç
sec_columns = ['Review #', 'Country', 'Stars', 'Top Ten']
sec_df = df[sec_columns]
sec_df

      Review #   Country Stars Top Ten
0         2580     Japan  3.75     NaN
1         2579    Taiwan     1     NaN
2         2578       USA  2.25     NaN
3         2577    Taiwan  2.75     NaN
4         2576     India  3.75     NaN
...        ...       ...   ...     ...
2575         5   Vietnam   3.5     NaN
2576         4  Thailand     1     NaN
2577         3  Thailand     2     NaN
2578         2  Thailand     2     NaN
2579         1       USA   0.5     NaN

[2580 rows x 4 columns]

In [3]:
# Sütun isimlerini Türkçe olarak güncelle
sec_df.columns = ['İnceleme Numarası', 'Ülke', 'Puanlar', 'Top 10']
sec_df.columns

Index(['İnceleme Numarası', 'Ülke', 'Puanlar', 'Top 10'], dtype='object')

In [4]:
# Puanlara göre sırala (en yüksek puandan en düşük puana)
sorted_df = sec_df.sort_values(by='Puanlar', ascending=False)
sorted_df

      İnceleme Numarası         Ülke  Puanlar Top 10
122                2458  South Korea  Unrated    NaN
993                1587     Malaysia  Unrated    NaN
32                 2548  South Korea  Unrated    NaN
447                2133        Japan     5.00    NaN
454                2126        Japan     5.00    NaN
...                 ...          ...      ...    ...
524                2056          USA        0    NaN
563                2017  South Korea        0    NaN
952                1628       Canada        0    NaN
2082                498       Taiwan        0    NaN
53                 2527      Vietnam        0    NaN

[2580 rows x 4 columns]

In [5]:
# İlk 10 restoranı seç
top_10_restaurants = sorted_df.head(10)
top_10_restaurants

     İnceleme Numarası         Ülke  Puanlar Top 10
122               2458  South Korea  Unrated    NaN
993               1587     Malaysia  Unrated    NaN
32                2548  South Korea  Unrated    NaN
447               2133        Japan     5.00    NaN
454               2126        Japan     5.00    NaN
603               1977     Malaysia     5.00    NaN
530               2050     Malaysia     5.00    NaN
383               2197           UK     5.00    NaN
591               1989     Malaysia     5.00    NaN
585               1995        Japan     5.00    NaN

In [6]:
# Sonucu ekrana yazdır
top_10_restaurants

     İnceleme Numarası         Ülke  Puanlar Top 10
122               2458  South Korea  Unrated    NaN
993               1587     Malaysia  Unrated    NaN
32                2548  South Korea  Unrated    NaN
447               2133        Japan     5.00    NaN
454               2126        Japan     5.00    NaN
603               1977     Malaysia     5.00    NaN
530               2050     Malaysia     5.00    NaN
383               2197           UK     5.00    NaN
591               1989     Malaysia     5.00    NaN
585               1995        Japan     5.00    NaN

# Soru 2;

In [7]:
import pandas as pd

# Verileri yükleyin
df = pd.read_csv("winemag-data-130k-v2.csv")
df

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [8]:
# Türkiye'den şarapları seç
sarap = df[df['country'] == 'Turkey']
sarap

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1187,1187,Turkey,From a winery that specializes in this rare va...,NaN,88,20.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Chamlija 2014 Papaskarasi (Thrace),Papaskarasi,Chamlija
3343,3343,Turkey,"Made of Kinali Yapincak, a grape native to Tur...",NaN,84,15.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Suvla 2012 Kinali Yapincak (Thrace),Kinali Yapincak,Suvla
7685,7685,Turkey,"Aromas of cherry, raspberry and buttered toast...",Reserve Single Vineyard Bozokbag,90,39.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Suvla 2011 Reserve Single Vineyard Bozokbag Ca...,Cabernet Sauvignon,Suvla
8778,8778,Turkey,"Made of Kalecik Karasi, an indigenous Turkish ...",Denizli-Güney Plateau,89,18.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Sevilen 2011 Denizli-Güney Plateau Kalecik Kar...,Kalecik Karasi,Sevilen
8779,8779,Turkey,"Light straw in color, this wine offers aromas ...",Denizli-Guney Plateau,89,18.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Sevilen 2012 Denizli-Guney Plateau Sauvignon B...,Sauvignon Blanc,Sevilen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126940,126940,Turkey,"A nose of raspberry, brambles and confectioner...",Casaba,87,16.0,Turkey,NaN,NaN,Mike DeSimone,@worldwineguys,Yazgan 2014 Casaba Cabernet Sauvignon-Merlot (...,Cabernet Sauvignon-Merlot,Yazgan
127078,127078,Turkey,"A nose of cherry, white peach and jalapeño set...",Pendore,92,33.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Öküzgözü (Aegean),Okuzgozu,Kavaklidere
127835,127835,Turkey,"This blend of 34% Merlot, 26% Cabernet Sauvign...",Merlot-Cabernet Sauvignon-Syrah-Cabernet Franc,87,60.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Selendi 2011 Merlot-Cabernet Sauvignon-Syrah-C...,Red Blend,Selendi
127911,127911,Turkey,This wine is red-violet in colour and has a no...,NaN,89,21.0,Turkey,NaN,NaN,Mike DeSimone,@worldwineguys,Yazgan 2014 Boğazkere (Turkey),Boğazkere,Yazgan
129774,129774,Turkey,Aromas of black cherry and green pepper lead i...,Kirte Cabernet Sauvignon-Syrah-Petit Verdot,87,17.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Suvla 2010 Kirte Cabernet Sauvignon-Syrah-Peti...,Red Blend,Suvla

In [9]:

# Puanlarına göre sırala (en yüksek puandan en düşük puana)
sorted_wines = sarap.sort_values(by='points', ascending=False)
sorted_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
78660,78660,Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
80596,80596,Turkey,"Inky violet red to the eye, this wine made of ...",Vintage Single Vineyard Collectible Series #5,92,35.0,Elazığ,NaN,NaN,Mike DeSimone,@worldwineguys,Kayra 2011 Vintage Single Vineyard Collectible...,Okuzgozu,Kayra
29781,29781,Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
127078,127078,Turkey,"A nose of cherry, white peach and jalapeño set...",Pendore,92,33.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Öküzgözü (Aegean),Okuzgozu,Kavaklidere
30918,30918,Turkey,Fragrances of cherry cola and mocha yield to f...,Nexus,91,34.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Urla 2011 Nexus Red (Aegean),Bordeaux-style Red Blend,Urla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43629,43629,Turkey,Aromas of quince and lemon see the stage for f...,NaN,84,18.0,Ankara,NaN,NaN,Mike DeSimone,@worldwineguys,Vinkara 2014 Narince (Ankara),Narince,Vinkara
106655,106655,Turkey,"Red violet in the glass, this blend of 85% Ökü...",NaN,84,14.0,Turkey,NaN,NaN,Mike DeSimone,@worldwineguys,Diren 2010 Red (Turkey),Red Blend,Diren
3343,3343,Turkey,"Made of Kinali Yapincak, a grape native to Tur...",NaN,84,15.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Suvla 2012 Kinali Yapincak (Thrace),Kinali Yapincak,Suvla
71275,71275,Turkey,This wine has a nose of soft citrus and tropic...,NaN,84,20.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Pasaeli 2015 Yapincak (Thrace),Yapincak,Pasaeli
71260,71260,Turkey,This lightly pressed white version of an indig...,Blanc de Noirs,84,24.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Chamlija 2015 Blanc de Noirs Papaskarasi (Thrace),Papaskarasi,Chamlija

In [10]:
# Fiyat aralığı uygun olan şarapları seç
affordable_wines = sorted_wines[sorted_wines['price'] < 50]
affordable_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
78660,78660,Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
80596,80596,Turkey,"Inky violet red to the eye, this wine made of ...",Vintage Single Vineyard Collectible Series #5,92,35.0,Elazığ,NaN,NaN,Mike DeSimone,@worldwineguys,Kayra 2011 Vintage Single Vineyard Collectible...,Okuzgozu,Kayra
29781,29781,Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
127078,127078,Turkey,"A nose of cherry, white peach and jalapeño set...",Pendore,92,33.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Öküzgözü (Aegean),Okuzgozu,Kavaklidere
30918,30918,Turkey,Fragrances of cherry cola and mocha yield to f...,Nexus,91,34.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Urla 2011 Nexus Red (Aegean),Bordeaux-style Red Blend,Urla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43629,43629,Turkey,Aromas of quince and lemon see the stage for f...,NaN,84,18.0,Ankara,NaN,NaN,Mike DeSimone,@worldwineguys,Vinkara 2014 Narince (Ankara),Narince,Vinkara
106655,106655,Turkey,"Red violet in the glass, this blend of 85% Ökü...",NaN,84,14.0,Turkey,NaN,NaN,Mike DeSimone,@worldwineguys,Diren 2010 Red (Turkey),Red Blend,Diren
3343,3343,Turkey,"Made of Kinali Yapincak, a grape native to Tur...",NaN,84,15.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Suvla 2012 Kinali Yapincak (Thrace),Kinali Yapincak,Suvla
71275,71275,Turkey,This wine has a nose of soft citrus and tropic...,NaN,84,20.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Pasaeli 2015 Yapincak (Thrace),Yapincak,Pasaeli
71260,71260,Turkey,This lightly pressed white version of an indig...,Blanc de Noirs,84,24.0,Thrace,NaN,NaN,Mike DeSimone,@worldwineguys,Chamlija 2015 Blanc de Noirs Papaskarasi (Thrace),Papaskarasi,Chamlija

In [11]:
# İlk 7 şarabı seç
top_7_wines = affordable_wines.head(7)

# Sonucu ekrana yazdır
top_7_wines[['title', 'points', 'price']]

                                                    title  points  price
78660             Kavaklidere 2010 Pendore Syrah (Aegean)      92   38.0
80596   Kayra 2011 Vintage Single Vineyard Collectible...      92   35.0
29781             Kavaklidere 2010 Pendore Syrah (Aegean)      92   38.0
127078         Kavaklidere 2010 Pendore Öküzgözü (Aegean)      92   33.0
30918                        Urla 2011 Nexus Red (Aegean)      91   34.0
94854             Vinkara 2011 Reserve Boğazkere (Ankara)      91   30.0
103716  Kavaklidere 2011 Prestige Kalecik Karasi (Ankara)      91   40.0

# Soru 3;

In [12]:
import pandas as pd
#Öncelikle bu kodda verilerine ulaşmak istediğimiz dosyanın kodunu yazıyoruz
df = pd.read_csv("fifa.csv")
df

           Date   ARG  BRA   ESP   FRA  GER   ITA
0    1993-08-08   5.0  8.0  13.0  12.0  1.0   2.0
1    1993-09-23  12.0  1.0  14.0   7.0  5.0   2.0
2    1993-10-22   9.0  1.0   7.0  14.0  4.0   3.0
3    1993-11-19   9.0  4.0   7.0  15.0  3.0   1.0
4    1993-12-23   8.0  3.0   5.0  15.0  1.0   2.0
..          ...   ...  ...   ...   ...  ...   ...
281  2018-02-15   4.0  2.0   6.0   9.0  1.0  14.0
282  2018-03-15   4.0  2.0   6.0   9.0  1.0  14.0
283  2018-04-12   5.0  2.0   8.0   7.0  1.0  20.0
284  2018-05-17   5.0  2.0   8.0   7.0  1.0  20.0
285  2018-06-07   5.0  2.0  10.0   7.0  1.0  19.0

[286 rows x 7 columns]

In [13]:
#Bu kodda takımları tanıttık
teams = ["ARG", "BRA", "ESP", "FRA", "GER", "ITA"]
subset = df[teams]
subset

      ARG  BRA   ESP   FRA  GER   ITA
0     5.0  8.0  13.0  12.0  1.0   2.0
1    12.0  1.0  14.0   7.0  5.0   2.0
2     9.0  1.0   7.0  14.0  4.0   3.0
3     9.0  4.0   7.0  15.0  3.0   1.0
4     8.0  3.0   5.0  15.0  1.0   2.0
..    ...  ...   ...   ...  ...   ...
281   4.0  2.0   6.0   9.0  1.0  14.0
282   4.0  2.0   6.0   9.0  1.0  14.0
283   5.0  2.0   8.0   7.0  1.0  20.0
284   5.0  2.0   8.0   7.0  1.0  20.0
285   5.0  2.0  10.0   7.0  1.0  19.0

[286 rows x 6 columns]

In [14]:
#Bu kodda takımlarn sıralamasınnı yaptık
subset = subset[::-1]
latest_ranking = subset.loc[subset.index[0]]
latest_ranking

ARG     5.0
BRA     2.0
ESP    10.0
FRA     7.0
GER     1.0
ITA    19.0
Name: 285, dtype: float64

In [15]:
#Bu kodda ortalamaları yüksek olan iki ülkeyi seçtik
top_teams = latest_ranking.nlargest(2)
top_teams

ITA    19.0
ESP    10.0
Name: 285, dtype: float64

In [16]:
#Bu kodda da bu takımları tanımladık
team1 = top_teams.index[0]
team2 = top_teams.index[1]

print("Seçilen takımlar:", team1, "ve", team2)

Seçilen takımlar: ITA ve ESP

# Soru 4;

In [17]:
import pandas as pd

# Verileri oku
df = pd.read_csv("flight_delays.csv")
df

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
0,1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
1,2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
2,3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
3,4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
4,5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
5,6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
6,7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
7,8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
8,9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
9,10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
10,11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
11,12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

In [18]:

# Sadece gecikme verilerini içeren sütunları seç
selected_columns = ['Month', 'AA', 'AS', 'B6', 'DL', 'EV', 'F9', 'HA', 'MQ', 'NK', 'OO', 'UA', 'US', 'VX', 'WN']
df_selected = df[selected_columns]
df_selected

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
0,1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.107457,1.420702,3.389466
1,2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.114455,7.784410,3.501363
2,3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.330787,5.348207,3.263341
3,4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.660290,0.995507,2.996399
4,5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
5,6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.766296,5.779415,10.743462
6,7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
7,8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
8,9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
9,10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
10,11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
11,12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

In [19]:
# Havayolu şirketlerinin ortalama gecikme sürelerini hesapla
average_delays = df_selected.mean()
average_delays

Month     6.500000
AA        4.120776
AS       -1.023656
B6        6.788370
DL        0.231116
EV        6.543328
F9       13.035736
HA        1.993205
MQ        5.964953
NK       14.549663
OO        5.909658
UA        5.413415
US        3.776815
VX        4.717718
WN        4.275277
dtype: float64

In [20]:
# Geçikmeleri küçükten büyüğe sırala
sorted_delays = average_delays.sort_values()
sorted_delays

AS       -1.023656
DL        0.231116
HA        1.993205
US        3.776815
AA        4.120776
WN        4.275277
VX        4.717718
UA        5.413415
OO        5.909658
MQ        5.964953
Month     6.500000
EV        6.543328
B6        6.788370
F9       13.035736
NK       14.549663
dtype: float64

In [21]:
# En düşük geçikmeye sahip olan havayolu şirketini seç
selected_airline = sorted_delays.index[0]
selected_airline

'AS'

sonuc = 'AS' şirketinde gecikme süresi en az olduğu için yapacağım tercih olurdu çünkü hissesi büyük bir oranda büyüme yapardı.